.contact__image {
    object-fit: cover;
    opacity: 0.8;
    height: 500px;
    max-width: 1400;
    width: 100%;
}

.rowcontact {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    border-top: 3px solid #ED1C24;
    color: black;
    padding-left: 20px;
}

span {
    color: #ED1C24;
}